* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open sans", sans-serif;
}

:root {
  --light: #eeeeee;
  --light-darker: #cfcece;
  --bg: #222;
  --blue: #5767c8;
  --red: #e34040;
  --red-darker: #d93d3d;
}

body {
  background: var(--bg);
  color: var(--light);
}

/* Utils Classes */
.hidden {
  /* visibility: hidden; */
  display: none;
}

.bold {
  font-weight: bold;
}

/* Header */
.center {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

header img {
  width: 12rem;
  margin-bottom: 15px;
  filter: drop-shadow(0 20px 110px var(--blue));
}

header #header-movies-buttons {
  margin-top: 15px;
}

/* Buttons */
.btn {
  padding: 13px 25px;
  border: none;
  border-radius: 5px;
  background: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn:focus {
  outline: none;
  box-shadow: 0 0 0 0.3rem var(--blue);
}

.btn-primary {
  background: var(--light);
  color: #101010;
}

.btn-primary:hover {
  background: var(--light-darker);
}

.btn-danger {
  background: var(--red);
  color: var(--light);
}

.btn-danger:hover {
  background: var(--red-darker);
}
